<nav class="main-nav">
  <div class="logo">
    <a routerLink="/">My Product App</a>
  </div>
  <ul class="nav-links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li>
      <a routerLink="/new-product" routerLinkActive="active">New Product +</a>
    </li>
    <!-- Add more navigation links as needed -->
  </ul>
</nav>
