<main class="main">
  <form #form="ngForm" (ngSubmit)="create(form)" class="form-wrapper">
    <h2>New Product</h2>
    <div>
      <label for="name">Product Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="product.name"
        required
      />
    </div>

    <div>
      <label for="description">Product Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="product.description"
        required
      />
    </div>

    <div>
      <label for="price">Product Price (R):</label>
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="product.price"
        required
      />
    </div>

    <button type="submit" [disabled]="form.invalid">Create</button>
  </form>
</main>
