.product-card {
  border: 1px solid rgb(198, 198, 198);
  padding: 15px;
  border-radius: 10px;
  max-width: 400px;
  min-width: 400px;
  height: 200px;
  overflow-y: auto;
  position: relative;
  background-color: white;
}

.description,
.price {
  font-size: 18px !important;
  margin-top: 10px;
}

.button-wrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  position: block;
  margin-top: 40px;
}

.edit {
  background-color: blue;
  color: white;
  margin-bottom: 0px;
}

.delete {
  background-color: rgb(171, 0, 0);
  color: white;
}
